.bb-button{
            font-size: 16px;
            background: $blue-hover-color;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: .5em;
            transition: 270ms ease-in-out;
            padding: 6px;
            font-family: inherit;
            &.small-height{
              height: 35px !important;
            }
            &:hover {
                background-color: #0c46c7;
                color: white;
                transform: translateY(-5px);
                filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.5));

            }
}

.features-button{
  border: 1px solid #678c77;
  backround-color: #2a443e;
  color: #7ab790;
  margin-left: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: .5em;
  transition: 270ms ease-in-out;
  padding: 6px;
  font-family: inherit;
  &:hover {
      background-color: #0c46c7;
      color: white;
      transform: translateY(-5px);
      filter: drop-shadow(0 5px 4px rgba(0, 0, 0, 0.5));

            }
}

.feature{
  background: #2b453b;
  font-weight: bold;
  padding: 10px;
  color: #7ab790;
  border: 2px solid #678c77;
  &:hover{
    background: #2b453b
  }
}

.bug{
  background: #473037;
  padding: 10px;
  font-weight: bold;
  color: #ff8685;
  border: 2px solid #ea7476;
   &:hover{
   background: #473037;
  }
}
.upload{
  background: #222a41;
  color: #035fef;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #005eff;
  &:hover{
    background: #222a41;
  }
}
.input-base{
          resize: vertical;
          font-family:inherit;
          background: white;
          margin-left: 15px;
          color: black;
          font-size: $medium-font-size;
          padding: 0.25rem 0.5rem;
          border-radius: 0.25rem;
          overflow-wrap: break-word;
          overflow-y: scroll;
          user-select: none;
          margin-bottom: 25px;
          width: $input-width;
          max-width: calc(#{$form-container-width} - 15px*2.5);
          font-weight: bold;
   &::placeholder{
       font-size:15px;

   }
  &:focus {
          outline-style: none;
          transition: 250ms ease-in-out;
          border-color: $blue-hover-color;
          box-shadow: 2px 2px 2px 1px $blue-hover-color;
  }
}
