@import "variables.scss";
@import "box.scss";
@import "content-base.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      background-color: rgba(17, 24, 39, 1);
      user-select: none;
  .App{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    .main-title{
      font-style: italic;
      font-weight: bold;
      color: white;
      margin-top: 10px;
      letter-spacing: 2px;
    }
    .start-button{
      font-style: italic;
      font-weight: bold;
    }
    .desc{
      text-align: center;
      color: #8c03fc;
    }
    .flex{
      display: flex;
      margin-top: 10px;
    }
  }
}
